{% load thumbnail %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<link rel="stylesheet" href="/static/customizing.css">

{% if prods %}
<div class="panel panel-default" style="margin: 10px;">
    <div class="panel-heading"><h3>Products</h3></div>
        {% for prod in prods %}
        <div class="container">
            <div class="panel-heading">
                <div class="row"><h1>{{ prod.title }}</h1></div>
            </div>
            <div class="row">
                <div id="photo" class="col-md-3"><img src="{{ prod.photo|thumbnail_url:'tiny_photo' }}"/></div>
                <div class="col-md-2"><b>Height: </b>{{ prod.height }}</div>
                <div class="col-md-2"><b>Weight: </b>{{ prod.weight }}</div>
                <div class="col-md-2"><b>Color: </b>{{ prod.color }}</div>
                <div id="desc" class="col-md-8"><b>Description: </b><pre>{{ prod.description }}</pre></div>
            </div>
        </div>
        {% endfor %}
</div>
<div class="text-center">
    <ul class="pagination">
    <p>Page {{ prods.number }}</p>
    <li id="prev"><a href="#">&laquo;</a></li>
        {% for pg in prods.paginator.page_range %}
          <li><a href="?page={{ pg }}">{{ pg }}</a></li>
        {% endfor %}
    <li id="next"><a href="#">&raquo;</a></li>
    </ul>
</div>
{% else %}
    <p>There are no products.</p>
{% endif %}